<style>
  * {
    float: none;
  }
  body {
    text-decoration: none;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
  }
  button {
    background-color: rgba(128,0,255,1);
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
  }
  button:hover {
    background-color: rgba(0,128,255,1);
  }
  button:active {
    background-color: rgba(0,128,255,1);
    box-shadow: 3 5px #666;
    transform: translateY(4px) translateX(3px);
  }
  input {
    font-size: 16px;
    width: 60px;
    text-align: center;

  }
  select {
    font-size: 16px;
  }
  .splash {
    text-align: center;
    margin: auto;
  }
  .question {
    text-align: center;
    font-size: 16px;

  }

  /*
  .rdatable {
    border: 1px solid;
    border-radius: 3px;
    margin: auto;
    text-align: center;
  }
  */
  .rdas {
    border-spacing: 0px;
    border-style: dotted;
    border-width: 1px 1px 1px 1px;
    margin: auto;
    padding: 3px 0px 0px 0px;
    text-align: center;
  }
  .rda {
    border-style: dotted;
    border-width: 1px 1px 0px 0px;
    margin: auto;
    text-align: center;
    padding: 5px;
  }
  .nutrient {
    font-weight: bold;
    background-color: rgba(200,200,200,0.5);
  }
  .yourmin {
    background-color: rgba(255,255,0,0.4);
  }
  .yourrda {
    background-color: rgba(0,255,0,0.5);
  }
  .yourmax {
    background-color: rgba(255,0,0,0.5);
  }
  .footer {
    text-align: center;
    margin: auto;
  }
  </style>
